<footer>
        
            <div id="property">
                <p>PROPERTIES</p>
                <ul>
                    <li>Explore and Peruse.</li>
                    <li>Online Booking</li>
                    <li>Security and Reliability</li>
                    <li>Vacation Destination Description</li>
                    <li>Customer Service</li>
                    <li>Easy Payment Method</li>  
                </ul>
            </div>

            <div class="email">
                <p>Stay on top of your Vaction during your next travel.
                    Sign up for our email list to stay in the loop</p>
                <form action="">
                  
                    <input type="email" name="email" id="" placeholder="Enter Email">
                </form>
                <div class="icon">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
               
            </div>
            </div>
        
        <div class="copyright">
            <p>By submitting this assignment I declare that this assignment is my own work in accordance with
                the Seneca Academic Policy. <br>No part of this assignment has been copied manually or
                electronically from any other source (including web sites) or distributed to other students.</p>
                <p>© Fardeen Hamed Raheem Khan, fkhan197@myseneca.ca, WEB322 Winter 2023</p>
                <p>© Nick Romanidis, nick.romanidis@senecacollege.ca, WEB322 Winter 2023</p>
        </div>
    </footer>