   <section id="main">
		<h1 class="HH">Greetings From CozyCorner</h1>
		<p>Find your ideal holiday home on our platform. Select from a diverse collection of carefully selected properties, ranging from charming cottages to opulent villas. Enjoy a seamless booking experience with 24/7 support for a stress-free and unforgettable stay. Begin crafting cherished memories now!</p>
		<button class="btn">Register Your Reservation.</button>
	</section>