<div class="welcomemes">
   <h4>
        Welcome {{email}} to your dashboard.
        <br>
        We hope you enjoy your experience with us.
   </h4>
   <img src="https://images.pexels.com/photos/1005058/pexels-photo-1005058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    
</div>